.grid{
    width:100%;
    border: 3px solid purple;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 250px 250px;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
}.box1{
    background-color: palegoldenrod;
}
.box2{
    background-color: palegreen;
}
.box3{
    background-color: paleturquoise;
}
.box4{
    background-color: palevioletred;
}
.box5{
    background-color: papayawhip;
}
.box6{
    background-color: peachpuff;
}
